In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

In [2]:
ls = pd.read_csv('LoanStats3a.csv',low_memory=False)
ls

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,NaN,NaN,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
42534,NaN,NaN,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
42535,NaN,NaN,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
42536,NaN,NaN,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
42537,NaN,NaN,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42538 entries, 0 to 42537
Columns: 144 entries, id to settlement_term
dtypes: float64(115), object(29)
memory usage: 46.7+ MB

In [4]:
ls.isnull().sum()

id                       42537
member_id                42538
loan_amnt                    3
funded_amnt                  3
funded_amnt_inv              3
                         ...
settlement_status        42378
settlement_date          42378
settlement_amount        42378
settlement_percentage    42378
settlement_term          42378
Length: 144, dtype: int64

In [5]:
ls.drop(['settlement_status', 'settlement_date', 'settlement_amount',
       'settlement_percentage', 'settlement_term'],axis=1,inplace=True)

In [6]:
ls.drop(['orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount','debt_settlement_flag_date'],axis=1,inplace=True)

In [7]:
ls.drop(['payment_plan_start_date',
       'hardship_length', 'hardship_dpd', 'hardship_loan_status'],axis=1,inplace=True)

In [8]:
ls.drop(['deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date'],axis=1,inplace=True)

In [9]:
ls.drop(['hardship_type',
       'hardship_reason', 'hardship_status'],axis=1,inplace=True)

In [10]:
ls.drop(['sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog'],axis=1,inplace=True)

In [11]:
ls.drop(['sec_app_revol_util',
       'sec_app_open_act_il', 'sec_app_num_rev_accts'],axis=1,inplace=True)

In [12]:
ls.drop(['sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc','id', 'member_id'],axis=1,inplace=True)

In [13]:
ls.drop(['total_il_high_credit_limit',
       'revol_bal_joint', 'sec_app_earliest_cr_line'],axis=1,inplace=True)

In [14]:
ls.drop(['tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit'],axis=1,inplace=True)

In [15]:
ls.drop('percent_bc_gt_75',axis=1,inplace=True)

In [16]:
ls.drop(['num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
       'num_tl_op_past_12m', 'pct_tl_nvr_dlq'],axis=1,inplace=True)

In [17]:
ls.drop(['mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0'],axis=1,inplace=True)

In [18]:
ls.drop(['tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util'],axis=1,inplace=True)

In [19]:
ls.drop(['mths_since_last_major_derog','annual_inc_joint', 'dti_joint',
       'verification_status_joint'],axis=1,inplace=True)

In [20]:
ls.drop(['url'],axis=1,inplace=True)

In [21]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42534,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,Halping hands company inc.,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42535,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42536,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42537,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N

In [22]:
ls.drop([39786,39787,39788],inplace=True)

In [23]:
ls.isnull().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2626
emp_length                     1112
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
desc                          13293
purpose                           0
title                            13
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
inq_last_6mths                   29
mths_since_last_delinq        26926
mths_since_last_record        38884
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                       90
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     83
last_pymnt_amnt                   0
next_pymnt_d                  39786
last_credit_pull_d                4
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
chargeoff_within_12_mths        145
delinq_amnt                      29
pub_rec_bankruptcies           1365
tax_liens                       105
hardship_flag                     0
debt_settlement_flag              0
dtype: int64

In [24]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42534,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,Halping hands company inc.,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42535,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42536,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42537,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N

In [25]:
ls.isnull().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2626
emp_length                     1112
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
desc                          13293
purpose                           0
title                            13
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
inq_last_6mths                   29
mths_since_last_delinq        26926
mths_since_last_record        38884
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                       90
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     83
last_pymnt_amnt                   0
next_pymnt_d                  39786
last_credit_pull_d                4
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
chargeoff_within_12_mths        145
delinq_amnt                      29
pub_rec_bankruptcies           1365
tax_liens                       105
hardship_flag                     0
debt_settlement_flag              0
dtype: int64

In [26]:
ls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42535 entries, 0 to 42537
Data columns (total 56 columns):
loan_amnt                     42535 non-null float64
funded_amnt                   42535 non-null float64
funded_amnt_inv               42535 non-null float64
term                          42535 non-null object
int_rate                      42535 non-null object
installment                   42535 non-null float64
grade                         42535 non-null object
sub_grade                     42535 non-null object
emp_title                     39909 non-null object
emp_length                    41423 non-null object
home_ownership                42535 non-null object
annual_inc                    42531 non-null float64
verification_status           42535 non-null object
issue_d                       42535 non-null object
loan_status                   42535 non-null object
pymnt_plan                    42535 non-null object
desc                          29242 non-null object
purpose                       42535 non-null object
title                         42522 non-null object
zip_code                      42535 non-null object
addr_state                    42535 non-null object
dti                           42535 non-null float64
delinq_2yrs                   42506 non-null float64
earliest_cr_line              42506 non-null object
inq_last_6mths                42506 non-null float64
mths_since_last_delinq        15609 non-null float64
mths_since_last_record        3651 non-null float64
open_acc                      42506 non-null float64
pub_rec                       42506 non-null float64
revol_bal                     42535 non-null float64
revol_util                    42445 non-null object
total_acc                     42506 non-null float64
initial_list_status           42535 non-null object
out_prncp                     42535 non-null float64
out_prncp_inv                 42535 non-null float64
total_pymnt                   42535 non-null float64
total_pymnt_inv               42535 non-null float64
total_rec_prncp               42535 non-null float64
total_rec_int                 42535 non-null float64
total_rec_late_fee            42535 non-null float64
recoveries                    42535 non-null float64
collection_recovery_fee       42535 non-null float64
last_pymnt_d                  42452 non-null object
last_pymnt_amnt               42535 non-null float64
next_pymnt_d                  2749 non-null object
last_credit_pull_d            42531 non-null object
collections_12_mths_ex_med    42390 non-null float64
policy_code                   42535 non-null float64
application_type              42535 non-null object
acc_now_delinq                42506 non-null float64
chargeoff_within_12_mths      42390 non-null float64
delinq_amnt                   42506 non-null float64
pub_rec_bankruptcies          41170 non-null float64
tax_liens                     42430 non-null float64
hardship_flag                 42535 non-null object
debt_settlement_flag          42535 non-null object
dtypes: float64(31), object(25)
memory usage: 18.5+ MB

In [27]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36 months,10.28%,113.39,C,C1,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42534,1000.0,1000.0,0.0,36 months,9.64%,32.11,B,B4,Halping hands company inc.,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42535,2525.0,2525.0,225.0,36 months,9.33%,80.69,B,B3,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42536,6500.0,6500.0,0.0,36 months,8.38%,204.84,A,A5,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42537,5000.0,5000.0,0.0,36 months,7.75%,156.11,A,A3,Homemaker,10+ years,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N

In [28]:
def get_seed(x):
    return int(x[1:3])

ls['term'] = ls['term'].map(lambda x: get_seed(x))

In [29]:
def get_seed(x):
    return float(x[0:4])

ls['int_rate'] = ls['int_rate'].map(lambda x: get_seed(x))

In [30]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36,10.60,162.87,B,B2,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
1,2500.0,2500.0,2500.0,60,15.20,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2,2400.0,2400.0,2400.0,36,15.90,84.33,C,C5,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
3,10000.0,10000.0,10000.0,36,13.40,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
4,3000.0,3000.0,3000.0,60,12.60,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36,10.20,113.39,C,C1,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42534,1000.0,1000.0,0.0,36,9.64,32.11,B,B4,Halping hands company inc.,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42535,2525.0,2525.0,225.0,36,9.33,80.69,B,B3,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42536,6500.0,6500.0,0.0,36,8.38,204.84,A,A5,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42537,5000.0,5000.0,0.0,36,7.75,156.11,A,A3,Homemaker,10+ years,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N

In [31]:
ls['loan_status'].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [32]:
ls.isnull().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2626
emp_length                     1112
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
desc                          13293
purpose                           0
title                            13
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
inq_last_6mths                   29
mths_since_last_delinq        26926
mths_since_last_record        38884
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                       90
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     83
last_pymnt_amnt                   0
next_pymnt_d                  39786
last_credit_pull_d                4
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
chargeoff_within_12_mths        145
delinq_amnt                      29
pub_rec_bankruptcies           1365
tax_liens                       105
hardship_flag                     0
debt_settlement_flag              0
dtype: int64

In [33]:
ls['loan_status'].value_counts()

Fully Paid                                             34116
Charged Off                                             5670
Does not meet the credit policy. Status:Fully Paid      1988
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [34]:
ls['pymnt_plan'].value_counts() #can be droped

n    42535
Name: pymnt_plan, dtype: int64

In [35]:
ls.drop(['pymnt_plan'],axis=1,inplace=True)

In [36]:
ls['purpose'].value_counts()

debt_consolidation    19776
credit_card            5477
other                  4425
home_improvement       3199
major_purchase         2311
small_business         1992
car                    1615
wedding                1004
medical                 753
moving                  629
house                   426
educational             422
vacation                400
renewable_energy        106
Name: purpose, dtype: int64

In [37]:
ls['title'].value_counts()

Debt Consolidation                         2259
Debt Consolidation Loan                    1760
Personal Loan                               708
Consolidation                               547
debt consolidation                          532
                                           ...
Calvin23                                      1
Home improvements (bathrooms & kitchen)       1
Debt Consolidation / Hospital Bills           1
Lower Bills                                   1
ashley                                        1
Name: title, Length: 21253, dtype: int64

In [38]:
ls['zip_code'] #can be droped

0        860xx
1        309xx
2        606xx
3        917xx
4        972xx
         ...
42533    100xx
42534    021xx
42535    100xx
42536    100xx
42537    068xx
Name: zip_code, Length: 42535, dtype: object

In [39]:
ls['addr_state'].value_counts()

CA    7429
NY    4065
FL    3104
TX    2915
NJ    1988
IL    1672
PA    1651
GA    1503
VA    1487
MA    1438
OH    1329
MD    1125
AZ     933
WA     888
CO     857
NC     830
CT     816
MI     796
MO     765
MN     652
NV     527
WI     516
SC     489
AL     484
OR     468
LA     461
KY     359
OK     317
KS     298
UT     278
AR     261
DC     224
RI     208
NM     205
NH     188
WV     187
HI     181
DE     136
MT      96
WY      87
AK      86
SD      67
VT      57
TN      32
MS      26
IN      19
IA      12
NE      11
ID       9
ME       3
Name: addr_state, dtype: int64

In [40]:
ls['earliest_cr_line'].value_counts()

Oct-99    393
Nov-98    390
Oct-00    370
Dec-98    366
Dec-97    348
         ...
Nov-61      1
Nov-54      1
Apr-68      1
Nov-59      1
Nov-62      1
Name: earliest_cr_line, Length: 530, dtype: int64

In [41]:
ls['revol_util'].value_counts()

0%        1070
40.70%      65
0.20%       64
63%         63
66.60%      62
          ...
88.48%       1
81.31%       1
16.02%       1
0.49%        1
37.63%       1
Name: revol_util, Length: 1119, dtype: int64

In [42]:
ls['initial_list_status'].value_counts() # can be droped

f    42535
Name: initial_list_status, dtype: int64

In [43]:
ls['hardship_flag'].value_counts() # can be droped

N    42535
Name: hardship_flag, dtype: int64

In [44]:
ls['debt_settlement_flag'].value_counts()

N    42375
Y      160
Name: debt_settlement_flag, dtype: int64

In [45]:
ls['home_ownership'].value_counts()

RENT        20181
MORTGAGE    18959
OWN          3251
OTHER         136
NONE            8
Name: home_ownership, dtype: int64

In [46]:
ls['term'] = ls['term'].astype(float)

In [47]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens,hardship_flag,debt_settlement_flag
0,5000.0,5000.0,4975.0,36.0,10.60,162.87,B,B2,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
1,2500.0,2500.0,2500.0,60.0,15.20,59.83,C,C4,Ryder,< 1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
2,2400.0,2400.0,2400.0,36.0,15.90,84.33,C,C5,NaN,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
3,10000.0,10000.0,10000.0,36.0,13.40,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
4,3000.0,3000.0,3000.0,60.0,12.60,67.79,B,B5,University Medical Group,1 year,...,0.0,1.0,Individual,0.0,0.0,0.0,0.0,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,Halping hands company inc.,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,NaN,< 1 year,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,Homemaker,10+ years,...,NaN,1.0,Individual,NaN,NaN,NaN,NaN,NaN,N,N

In [48]:
ls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42535 entries, 0 to 42537
Data columns (total 55 columns):
loan_amnt                     42535 non-null float64
funded_amnt                   42535 non-null float64
funded_amnt_inv               42535 non-null float64
term                          42535 non-null float64
int_rate                      42535 non-null float64
installment                   42535 non-null float64
grade                         42535 non-null object
sub_grade                     42535 non-null object
emp_title                     39909 non-null object
emp_length                    41423 non-null object
home_ownership                42535 non-null object
annual_inc                    42531 non-null float64
verification_status           42535 non-null object
issue_d                       42535 non-null object
loan_status                   42535 non-null object
desc                          29242 non-null object
purpose                       42535 non-null object
title                         42522 non-null object
zip_code                      42535 non-null object
addr_state                    42535 non-null object
dti                           42535 non-null float64
delinq_2yrs                   42506 non-null float64
earliest_cr_line              42506 non-null object
inq_last_6mths                42506 non-null float64
mths_since_last_delinq        15609 non-null float64
mths_since_last_record        3651 non-null float64
open_acc                      42506 non-null float64
pub_rec                       42506 non-null float64
revol_bal                     42535 non-null float64
revol_util                    42445 non-null object
total_acc                     42506 non-null float64
initial_list_status           42535 non-null object
out_prncp                     42535 non-null float64
out_prncp_inv                 42535 non-null float64
total_pymnt                   42535 non-null float64
total_pymnt_inv               42535 non-null float64
total_rec_prncp               42535 non-null float64
total_rec_int                 42535 non-null float64
total_rec_late_fee            42535 non-null float64
recoveries                    42535 non-null float64
collection_recovery_fee       42535 non-null float64
last_pymnt_d                  42452 non-null object
last_pymnt_amnt               42535 non-null float64
next_pymnt_d                  2749 non-null object
last_credit_pull_d            42531 non-null object
collections_12_mths_ex_med    42390 non-null float64
policy_code                   42535 non-null float64
application_type              42535 non-null object
acc_now_delinq                42506 non-null float64
chargeoff_within_12_mths      42390 non-null float64
delinq_amnt                   42506 non-null float64
pub_rec_bankruptcies          41170 non-null float64
tax_liens                     42430 non-null float64
hardship_flag                 42535 non-null object
debt_settlement_flag          42535 non-null object
dtypes: float64(33), object(22)
memory usage: 18.2+ MB

In [49]:
ls.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'desc', 'purpose', 'title', 'zip_code', 'addr_state',
       'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens', 'hardship_flag',
       'debt_settlement_flag'],
      dtype='object')

In [50]:
ls.drop(['initial_list_status','zip_code','hardship_flag'],axis=1,inplace=True)

In [51]:
ls.drop(['emp_title'],axis=1,inplace=True)

In [52]:
ls.drop(['desc'],axis=1,inplace=True)

In [53]:
ls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42535 entries, 0 to 42537
Data columns (total 50 columns):
loan_amnt                     42535 non-null float64
funded_amnt                   42535 non-null float64
funded_amnt_inv               42535 non-null float64
term                          42535 non-null float64
int_rate                      42535 non-null float64
installment                   42535 non-null float64
grade                         42535 non-null object
sub_grade                     42535 non-null object
emp_length                    41423 non-null object
home_ownership                42535 non-null object
annual_inc                    42531 non-null float64
verification_status           42535 non-null object
issue_d                       42535 non-null object
loan_status                   42535 non-null object
purpose                       42535 non-null object
title                         42522 non-null object
addr_state                    42535 non-null object
dti                           42535 non-null float64
delinq_2yrs                   42506 non-null float64
earliest_cr_line              42506 non-null object
inq_last_6mths                42506 non-null float64
mths_since_last_delinq        15609 non-null float64
mths_since_last_record        3651 non-null float64
open_acc                      42506 non-null float64
pub_rec                       42506 non-null float64
revol_bal                     42535 non-null float64
revol_util                    42445 non-null object
total_acc                     42506 non-null float64
out_prncp                     42535 non-null float64
out_prncp_inv                 42535 non-null float64
total_pymnt                   42535 non-null float64
total_pymnt_inv               42535 non-null float64
total_rec_prncp               42535 non-null float64
total_rec_int                 42535 non-null float64
total_rec_late_fee            42535 non-null float64
recoveries                    42535 non-null float64
collection_recovery_fee       42535 non-null float64
last_pymnt_d                  42452 non-null object
last_pymnt_amnt               42535 non-null float64
next_pymnt_d                  2749 non-null object
last_credit_pull_d            42531 non-null object
collections_12_mths_ex_med    42390 non-null float64
policy_code                   42535 non-null float64
application_type              42535 non-null object
acc_now_delinq                42506 non-null float64
chargeoff_within_12_mths      42390 non-null float64
delinq_amnt                   42506 non-null float64
pub_rec_bankruptcies          41170 non-null float64
tax_liens                     42430 non-null float64
debt_settlement_flag          42535 non-null object
dtypes: float64(33), object(17)
memory usage: 16.6+ MB

In [54]:
ls.select_dtypes(include=['object']).columns

Index(['grade', 'sub_grade', 'emp_length', 'home_ownership',
       'verification_status', 'issue_d', 'loan_status', 'purpose', 'title',
       'addr_state', 'earliest_cr_line', 'revol_util', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type',
       'debt_settlement_flag'],
      dtype='object')

In [55]:
ls.corr()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,recoveries,collection_recovery_fee,last_pymnt_amnt,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
loan_amnt,1.000000,0.981746,0.929600,0.355647,0.292300,0.930869,0.276122,0.065112,-0.032767,-0.030314,...,0.133232,0.073163,0.447702,NaN,NaN,-0.005777,NaN,-0.003974,-0.037557,-0.005963
funded_amnt,0.981746,1.000000,0.947527,0.335137,0.295131,0.956522,0.272067,0.064821,-0.033421,-0.030048,...,0.134346,0.075297,0.452262,NaN,NaN,-0.005627,NaN,-0.003938,-0.038855,-0.006001
funded_amnt_inv,0.929600,0.947527,1.000000,0.363843,0.279955,0.890151,0.252329,0.071073,-0.043868,-0.074913,...,0.115873,0.056010,0.441508,NaN,NaN,-0.012590,NaN,-0.006201,-0.046124,-0.006242
term,0.355647,0.335137,0.363843,1.000000,0.428438,0.097614,0.043489,0.077059,0.001563,-0.012721,...,0.097609,0.032767,0.232171,NaN,NaN,-0.005733,NaN,-0.002879,0.011165,-0.002872
int_rate,0.292300,0.295131,0.279955,0.428438,1.000000,0.271545,0.054470,0.119318,0.154699,0.179744,...,0.122332,0.072654,0.145513,NaN,NaN,0.003324,NaN,0.002493,0.085164,0.001670
installment,0.930869,0.956522,0.890151,0.097614,0.271545,1.000000,0.278339,0.054948,-0.020096,-0.010882,...,0.117949,0.076408,0.400162,NaN,NaN,-0.004109,NaN,-0.003495,-0.033746,-0.005929
annual_inc,0.276122,0.272067,0.252329,0.043489,0.054470,0.278339,1.000000,-0.116559,0.022161,0.027764,...,0.025326,0.017225,0.139387,NaN,NaN,-0.000926,NaN,-0.001809,-0.015437,-0.001828
dti,0.065112,0.064821,0.071073,0.077059,0.119318,0.054948,-0.116559,1.000000,-0.036577,0.014241,...,0.022488,0.008519,0.003743,NaN,NaN,-0.013132,NaN,-0.009262,0.008671,-0.003346
delinq_2yrs,-0.032767,-0.033421,-0.043868,0.001563,0.154699,-0.020096,0.022161,-0.036577,1.000000,0.020872,...,0.012291,0.013771,-0.013937,NaN,NaN,0.072845,NaN,0.121651,0.004708,-0.001452
inq_last_6mths,-0.030314,-0.030048,-0.074913,-0.012721,0.179744,-0.010882,0.027764,0.014241,0.020872,1.000000,...,0.036128,0.035803,-0.007532,NaN,NaN,0.002658,NaN,0.015604,0.047311,0.022088
mths_since_last_delinq,0.022833,0.024098,0.104707,0.059006,-0.050001,0.003996,-0.000751,0.066960,-0.525531,-0.046555,...,-0.006958,-0.013100,0.019998,NaN,NaN,-0.024295,NaN,-0.012199,0.018826,-0.012604
mths_since_last_record,0.033717,0.025119,0.488968,0.341440,0.228751,-0.042947,-0.002071,0.129753,-0.057269,-0.172404,...,-0.016713,-0.032637,0.106484,NaN,NaN,-0.035999,NaN,-0.020779,0.821834,0.020230
open_acc,0.176525,0.174705,0.156361,0.045579,0.024730,0.175349,0.168129,0.297951,0.014247,0.095042,...,0.016133,0.005676,0.074552,NaN,NaN,-0.004518,NaN,-0.002497,0.009678,-0.002533
pub_rec,-0.051636,-0.052625,-0.055742,0.005076,0.100261,-0.045850,-0.016348,-0.002854,0.010305,0.059533,...,-0.002240,-0.000869,-0.033085,NaN,NaN,-0.002296,NaN,-0.001153,0.841454,0.018610
revol_bal,0.254293,0.250313,0.212346,0.029496,0.081871,0.264837,0.283593,0.190727,-0.043068,0.007963,...,0.029842,0.014444,0.084542,NaN,NaN,-0.006116,NaN,-0.003137,-0.039378,-0.002801
total_acc,0.256931,0.251134,0.240858,0.094957,-0.031569,0.233905,0.246163,0.241306,0.068529,0.092396,...,0.023923,0.011214,0.159721,NaN,NaN,-0.006590,NaN,-0.000474,-0.003934,-0.006341
out_prncp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
out_prncp_inv,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_pymnt,0.882858,0.899001,0.873411,0.338206,0.291490,0.848611,0.258207,0.063899,-0.023716,-0.055703,...,0.029880,0.028773,0.467011,NaN,NaN,-0.003842,NaN,-0.003107,-0.045368,-0.005120
total_pymnt_inv,0.844205,0.860096,0.913023,0.360083,0.280126,0.799656,0.243246,0.068954,-0.033627,-0.085314,...,0.019002,0.015028,0.453444,NaN,NaN,-0.010977,NaN,-0.005390,-0.050332,-0.005436
total_rec_prncp,0.850882,0.868776,0.841547,0.231320,0.173803,0.843359,0.259516,0.041432,-0.038992,-0.070444,...,-0.093217,-0.061113,0.535175,NaN,NaN,-0.004094,NaN,-0.003174,-0.055960,-0.005251
total_rec_int,0.729111,0.736391,0.726552,0.526195,0.512607,0.633615,0.187831,0.104547,0.020130,-0.012826,...,0.075901,0.034944,0.192052,NaN,NaN,-0.001871,NaN,-0.002007,-0.005105,-0.003383
total_rec_late_fee,0.043398,0.045791,0.020079,0.005103,0.098284,0.057244,0.009743,-0.010959,0.034574,0.061024,...,0.096056,0.091095,-0.063890,NaN,NaN,-0.001880,NaN,-0.000944,-0.006021,-0.000940
recoveries,0.133232,0.134346,0.115873,0.097609,0.122332,0.117949,0.025326,0.022488,0.012291,0.036128,...,1.000000,0.820558,-0.069682,NaN,NaN,-0.001358,NaN,-0.000682,-0.003036,-0.000680
collection_recovery_fee,0.073163,0.075297,0.056010,0.032767,0.072654,0.076408,0.017225,0.008519,0.013771,0.035803,...,0.820558,1.000000,-0.043959,NaN,NaN,-0.000861,NaN,-0.000432,-0.003129,-0.000431
last_pymnt_amnt,0.447702,0.452262,0.441508,0.232171,0.145513,0.400162,0.139387,0.003743,-0.013937,-0.007532,...,-0.069682,-0.043959,1.000000,NaN,NaN,-0.005276,NaN,-0.002897,-0.023337,-0.002819
collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
policy_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,-0.005777,-0.005627,-0.012590,-0.005733,0.003324,-0.004109,-0.000926,-0.013132,0.072845,0.002658,...,-0.001358,-0.000861,-0.005276,NaN,NaN,1.000000,NaN,0.502208,NaN,-0.000041
chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
delinq_amnt,-0.003974,-0.003938,-0.006201,-0.002879,0.002493,-0.003495,-0.001809,-0.009262,0.121651,0.015604,...,-0.000682,-0.000432,-0.002897,NaN,NaN,0.502208,NaN,1.000000,NaN,-0.000024
pub_rec_bankruptcies,-0.037557,-0.038855,-0.046124,0.011165,0.085164,-0.033746,-0.015437,0.008671,0.004708,0.047311,...,-0.003036,-0.003129,-0.023337,NaN,NaN,NaN,NaN,NaN,1.000000,NaN
tax_liens,-0.005963,-0.006001,-0.006242,-0.002872,0.001670,-0.005929,-0.001828,-0.003346,-0.001452,0.022088,...,-0.000680,-0.000431,-0.002819,NaN,NaN,-0.000041,NaN,-0.000024,NaN,1.000000

In [56]:
ls['out_prncp'].value_counts()

0.0    42535
Name: out_prncp, dtype: int64

In [57]:
ls['out_prncp_inv'].value_counts()

0.0    42535
Name: out_prncp_inv, dtype: int64

In [58]:
ls['policy_code'].value_counts()

1.0    42535
Name: policy_code, dtype: int64

In [59]:
ls['collections_12_mths_ex_med'].value_counts()

0.0    42390
Name: collections_12_mths_ex_med, dtype: int64

In [60]:
ls['chargeoff_within_12_mths'].value_counts()

0.0    42390
Name: chargeoff_within_12_mths, dtype: int64

In [61]:
ls.drop(['out_prncp','out_prncp_inv','collections_12_mths_ex_med','chargeoff_within_12_mths'],axis=1,inplace=True)

In [62]:
ls.shape

(42535, 46)

In [63]:
# Converting to datetime columns
col = ['issue_d','next_pymnt_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']
for i in col:
    ls[i] = pd.to_datetime(ls[i].str.upper(), format='%b-%y', yearfirst=False)

In [64]:
ls[['issue_d','next_pymnt_d','earliest_cr_line','last_pymnt_d','last_credit_pull_d']]

         issue_d next_pymnt_d earliest_cr_line last_pymnt_d last_credit_pull_d
0     2011-12-01          NaT       1985-01-01   2015-01-01         2019-05-01
1     2011-12-01          NaT       1999-04-01   2013-04-01         2016-10-01
2     2011-12-01          NaT       2001-11-01   2014-06-01         2017-06-01
3     2011-12-01          NaT       1996-02-01   2015-01-01         2016-04-01
4     2011-12-01          NaT       1996-01-01   2017-01-01         2018-04-01
...          ...          ...              ...          ...                ...
42533 2007-06-01   2008-03-01              NaT   2008-03-01         2013-02-01
42534 2007-06-01   2010-07-01              NaT   2010-06-01         2014-09-01
42535 2007-06-01   2010-07-01              NaT   2010-06-01         2007-05-01
42536 2007-06-01   2010-07-01              NaT   2010-06-01         2007-08-01
42537 2007-06-01   2010-07-01              NaT   2010-06-01         2015-02-01

[42535 rows x 5 columns]

In [65]:
ls['earliest_cr_line'] = pd.DatetimeIndex(ls['earliest_cr_line']).year

In [66]:
ls.drop(['next_pymnt_d'],axis=1,inplace=True)

In [67]:
ls.drop(['application_type'],axis=1,inplace=True)

In [68]:
ls.drop(['title'],axis=1,inplace=True)

In [69]:
ls.drop(['policy_code'],axis=1,inplace=True)

In [70]:
ls.shape

(42535, 42)

In [71]:
#ls.to_csv('LoanStat.csv',index=False)

In [72]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.0,36.0,10.60,162.87,B,B2,10+ years,RENT,...,0.0,0.00,2015-01-01,171.62,2019-05-01,0.0,0.0,0.0,0.0,N
1,2500.0,2500.0,2500.0,60.0,15.20,59.83,C,C4,< 1 year,RENT,...,122.9,1.11,2013-04-01,119.66,2016-10-01,0.0,0.0,0.0,0.0,N
2,2400.0,2400.0,2400.0,36.0,15.90,84.33,C,C5,10+ years,RENT,...,0.0,0.00,2014-06-01,649.91,2017-06-01,0.0,0.0,0.0,0.0,N
3,10000.0,10000.0,10000.0,36.0,13.40,339.31,C,C1,10+ years,RENT,...,0.0,0.00,2015-01-01,357.48,2016-04-01,0.0,0.0,0.0,0.0,N
4,3000.0,3000.0,3000.0,60.0,12.60,67.79,B,B5,1 year,RENT,...,0.0,0.00,2017-01-01,67.30,2018-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,< 1 year,RENT,...,0.0,0.00,2008-03-01,0.00,2013-02-01,NaN,NaN,NaN,NaN,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,< 1 year,RENT,...,0.0,0.00,2010-06-01,32.41,2014-09-01,NaN,NaN,NaN,NaN,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,< 1 year,RENT,...,0.0,0.00,2010-06-01,82.03,2007-05-01,NaN,NaN,NaN,NaN,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,< 1 year,NONE,...,0.0,0.00,2010-06-01,205.32,2007-08-01,NaN,NaN,NaN,NaN,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,10+ years,MORTGAGE,...,0.0,0.00,2010-06-01,156.39,2015-02-01,NaN,NaN,NaN,NaN,N

In [73]:
ls['revol_util'] = ls['revol_util'].astype(str)
ls['revol_util'] = ls['revol_util'].map(lambda x: x.strip('%'))

ls['revol_util'] = ls['revol_util'].astype(float)

In [74]:
p = ls.select_dtypes(include=['float'])
p

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,dti,delinq_2yrs,earliest_cr_line,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,5000.0,4975.0,36.0,10.60,162.87,24000.0,27.65,0.0,1985.0,...,5000.00,863.16,0.00,0.0,0.00,171.62,0.0,0.0,0.0,0.0
1,2500.0,2500.0,2500.0,60.0,15.20,59.83,30000.0,1.00,0.0,1999.0,...,456.46,435.17,0.00,122.9,1.11,119.66,0.0,0.0,0.0,0.0
2,2400.0,2400.0,2400.0,36.0,15.90,84.33,12252.0,8.72,0.0,2001.0,...,2400.00,605.67,0.00,0.0,0.00,649.91,0.0,0.0,0.0,0.0
3,10000.0,10000.0,10000.0,36.0,13.40,339.31,49200.0,20.00,0.0,1996.0,...,10000.00,2214.92,16.97,0.0,0.00,357.48,0.0,0.0,0.0,0.0
4,3000.0,3000.0,3000.0,60.0,12.60,67.79,80000.0,17.94,0.0,1996.0,...,3000.00,1066.91,0.00,0.0,0.00,67.30,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,180000.0,10.00,NaN,NaN,...,3500.00,219.43,0.00,0.0,0.00,0.00,NaN,NaN,NaN,NaN
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,12000.0,10.00,NaN,NaN,...,1000.00,155.60,0.00,0.0,0.00,32.41,NaN,NaN,NaN,NaN
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,110000.0,10.00,NaN,NaN,...,2525.00,379.50,0.00,0.0,0.00,82.03,NaN,NaN,NaN,NaN
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,NaN,4.00,NaN,NaN,...,6500.00,873.90,0.00,0.0,0.00,205.32,NaN,NaN,NaN,NaN
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,70000.0,8.81,NaN,NaN,...,5000.00,619.76,0.00,0.0,0.00,156.39,NaN,NaN,NaN,NaN

In [75]:
p.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'acc_now_delinq', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [76]:
ls.shape

(42535, 42)

In [77]:
x = p.drop(['funded_amnt_inv'],axis=1)
y = p['funded_amnt_inv']

In [78]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [79]:
ls.ix[ls.index[(ls.T == np.nan).sum() > 1]]

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, last_credit_pull_d, acc_now_delinq, delinq_amnt, pub_rec_bankruptcies, tax_liens, debt_settlement_flag]
Index: []

[0 rows x 42 columns]

In [80]:
mask = False
for col in ls.columns: 
    mask = mask | ls[col].isnull()
dfnulls = ls[mask]

In [81]:
dfnulls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.0,36.0,10.60,162.87,B,B2,10+ years,RENT,...,0.0,0.00,2015-01-01,171.62,2019-05-01,0.0,0.0,0.0,0.0,N
1,2500.0,2500.0,2500.0,60.0,15.20,59.83,C,C4,< 1 year,RENT,...,122.9,1.11,2013-04-01,119.66,2016-10-01,0.0,0.0,0.0,0.0,N
2,2400.0,2400.0,2400.0,36.0,15.90,84.33,C,C5,10+ years,RENT,...,0.0,0.00,2014-06-01,649.91,2017-06-01,0.0,0.0,0.0,0.0,N
3,10000.0,10000.0,10000.0,36.0,13.40,339.31,C,C1,10+ years,RENT,...,0.0,0.00,2015-01-01,357.48,2016-04-01,0.0,0.0,0.0,0.0,N
4,3000.0,3000.0,3000.0,60.0,12.60,67.79,B,B5,1 year,RENT,...,0.0,0.00,2017-01-01,67.30,2018-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,< 1 year,RENT,...,0.0,0.00,2008-03-01,0.00,2013-02-01,NaN,NaN,NaN,NaN,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,< 1 year,RENT,...,0.0,0.00,2010-06-01,32.41,2014-09-01,NaN,NaN,NaN,NaN,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,< 1 year,RENT,...,0.0,0.00,2010-06-01,82.03,2007-05-01,NaN,NaN,NaN,NaN,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,< 1 year,NONE,...,0.0,0.00,2010-06-01,205.32,2007-08-01,NaN,NaN,NaN,NaN,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,10+ years,MORTGAGE,...,0.0,0.00,2010-06-01,156.39,2015-02-01,NaN,NaN,NaN,NaN,N

In [82]:
ls.drop(['mths_since_last_delinq','mths_since_last_record'],axis=1,inplace=True)

In [83]:
ls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.0,36.0,10.60,162.87,B,B2,10+ years,RENT,...,0.0,0.00,2015-01-01,171.62,2019-05-01,0.0,0.0,0.0,0.0,N
1,2500.0,2500.0,2500.0,60.0,15.20,59.83,C,C4,< 1 year,RENT,...,122.9,1.11,2013-04-01,119.66,2016-10-01,0.0,0.0,0.0,0.0,N
2,2400.0,2400.0,2400.0,36.0,15.90,84.33,C,C5,10+ years,RENT,...,0.0,0.00,2014-06-01,649.91,2017-06-01,0.0,0.0,0.0,0.0,N
3,10000.0,10000.0,10000.0,36.0,13.40,339.31,C,C1,10+ years,RENT,...,0.0,0.00,2015-01-01,357.48,2016-04-01,0.0,0.0,0.0,0.0,N
4,3000.0,3000.0,3000.0,60.0,12.60,67.79,B,B5,1 year,RENT,...,0.0,0.00,2017-01-01,67.30,2018-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,< 1 year,RENT,...,0.0,0.00,2008-03-01,0.00,2013-02-01,NaN,NaN,NaN,NaN,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,< 1 year,RENT,...,0.0,0.00,2010-06-01,32.41,2014-09-01,NaN,NaN,NaN,NaN,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,< 1 year,RENT,...,0.0,0.00,2010-06-01,82.03,2007-05-01,NaN,NaN,NaN,NaN,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,< 1 year,NONE,...,0.0,0.00,2010-06-01,205.32,2007-08-01,NaN,NaN,NaN,NaN,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,10+ years,MORTGAGE,...,0.0,0.00,2010-06-01,156.39,2015-02-01,NaN,NaN,NaN,NaN,N

In [84]:
mask = False
for col in ls.columns: 
    mask = mask | ls[col].isnull()
dfnulls = ls[mask]

In [85]:
dfnulls

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
26,15000.0,15000.0,8725.0,36.0,14.20,514.64,C,C2,9 years,RENT,...,0.00,0.0000,NaT,0.00,2019-02-01,0.0,0.0,0.0,0.0,N
168,2500.0,2500.0,2500.0,36.0,7.51,77.78,A,A3,NaN,OWN,...,10.08,0.0000,2013-12-01,77.78,2019-06-01,0.0,0.0,0.0,0.0,N
323,18000.0,18000.0,18000.0,60.0,17.50,452.98,D,D4,NaN,MORTGAGE,...,0.00,0.0000,2015-09-01,6909.59,2016-07-01,0.0,0.0,0.0,0.0,N
394,4000.0,4000.0,4000.0,36.0,11.70,132.31,B,B3,NaN,RENT,...,0.00,0.0000,2012-05-01,3658.15,2019-05-01,0.0,0.0,0.0,0.0,N
422,1000.0,1000.0,1000.0,36.0,14.60,34.50,C,C3,NaN,RENT,...,56.97,10.2402,2012-01-01,34.50,2012-06-01,0.0,0.0,1.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,< 1 year,RENT,...,0.00,0.0000,2008-03-01,0.00,2013-02-01,NaN,NaN,NaN,NaN,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,< 1 year,RENT,...,0.00,0.0000,2010-06-01,32.41,2014-09-01,NaN,NaN,NaN,NaN,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,< 1 year,RENT,...,0.00,0.0000,2010-06-01,82.03,2007-05-01,NaN,NaN,NaN,NaN,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,< 1 year,NONE,...,0.00,0.0000,2010-06-01,205.32,2007-08-01,NaN,NaN,NaN,NaN,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,10+ years,MORTGAGE,...,0.00,0.0000,2010-06-01,156.39,2015-02-01,NaN,NaN,NaN,NaN,N

In [86]:
a = ls[ls['revol_util'].isnull()]

In [87]:
b = ls[ls['emp_length'].isnull()]

In [88]:
c = ls[ls['last_pymnt_d'].isnull()]

In [89]:
d = ls[ls['last_credit_pull_d'].isnull()]

In [90]:
e = ls[ls['pub_rec_bankruptcies'].isnull()]

In [91]:
f = ls[ls['tax_liens'].isnull()]

In [92]:
j = a.append([b,c,d,e,f])

In [93]:
j

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
3577,8000.0,8000.0,8000.0,36.0,19.40,294.95,E,E3,3 years,RENT,...,0.00,0.0000,2014-12-01,76.83,2019-06-01,0.0,0.0,0.0,0.0,N
4730,6100.0,6100.0,6100.0,36.0,14.20,209.29,C,C2,NaN,MORTGAGE,...,296.92,2.8200,2012-06-01,209.29,2016-10-01,0.0,0.0,0.0,0.0,N
4960,7200.0,7200.0,7200.0,36.0,14.20,247.03,C,C2,7 years,RENT,...,0.00,0.0000,2012-04-01,66.27,2017-03-01,0.0,0.0,0.0,0.0,N
11315,5000.0,5000.0,5000.0,36.0,21.30,189.31,F,F4,NaN,MORTGAGE,...,0.00,0.0000,2014-08-01,204.01,2019-06-01,0.0,0.0,0.0,0.0,N
12076,3000.0,3000.0,3000.0,60.0,22.10,83.05,G,G1,6 years,OWN,...,167.73,30.0618,2011-11-01,83.05,2012-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42533,3500.0,3500.0,225.0,36.0,10.20,113.39,C,C1,< 1 year,RENT,...,0.00,0.0000,2008-03-01,0.00,2013-02-01,NaN,NaN,NaN,NaN,N
42534,1000.0,1000.0,0.0,36.0,9.64,32.11,B,B4,< 1 year,RENT,...,0.00,0.0000,2010-06-01,32.41,2014-09-01,NaN,NaN,NaN,NaN,N
42535,2525.0,2525.0,225.0,36.0,9.33,80.69,B,B3,< 1 year,RENT,...,0.00,0.0000,2010-06-01,82.03,2007-05-01,NaN,NaN,NaN,NaN,N
42536,6500.0,6500.0,0.0,36.0,8.38,204.84,A,A5,< 1 year,NONE,...,0.00,0.0000,2010-06-01,205.32,2007-08-01,NaN,NaN,NaN,NaN,N
42537,5000.0,5000.0,0.0,36.0,7.75,156.11,A,A3,10+ years,MORTGAGE,...,0.00,0.0000,2010-06-01,156.39,2015-02-01,NaN,NaN,NaN,NaN,N

In [94]:
j = j.drop_duplicates()

In [95]:
j.shape

(2605, 40)

In [96]:
j.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                 1112
home_ownership                0
annual_inc                    4
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                  29
earliest_cr_line             29
inq_last_6mths               29
open_acc                     29
pub_rec                      29
revol_bal                     0
revol_util                   90
total_acc                    29
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 83
last_pymnt_amnt               0
last_credit_pull_d            4
acc_now_delinq               29
delinq_amnt                  29
pub_rec_bankruptcies       1365
tax_liens                   105
debt_settlement_flag          0
dtype: int64

In [97]:
h = ls[ls['emp_length'].notnull()]

In [98]:
h = h[h['revol_util'].notnull()]

In [99]:
h = h[h['last_pymnt_d'].notnull()]

In [100]:
h = h[h['last_credit_pull_d'].notnull()]

In [101]:
h = h[h['pub_rec_bankruptcies'].notnull()]

In [102]:
h = h[h['tax_liens'].notnull()]

In [103]:
h

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.000000,36.0,10.6,162.87,B,B2,10+ years,RENT,...,0.0,0.00,2015-01-01,171.62,2019-05-01,0.0,0.0,0.0,0.0,N
1,2500.0,2500.0,2500.000000,60.0,15.2,59.83,C,C4,< 1 year,RENT,...,122.9,1.11,2013-04-01,119.66,2016-10-01,0.0,0.0,0.0,0.0,N
2,2400.0,2400.0,2400.000000,36.0,15.9,84.33,C,C5,10+ years,RENT,...,0.0,0.00,2014-06-01,649.91,2017-06-01,0.0,0.0,0.0,0.0,N
3,10000.0,10000.0,10000.000000,36.0,13.4,339.31,C,C1,10+ years,RENT,...,0.0,0.00,2015-01-01,357.48,2016-04-01,0.0,0.0,0.0,0.0,N
4,3000.0,3000.0,3000.000000,60.0,12.6,67.79,B,B5,1 year,RENT,...,0.0,0.00,2017-01-01,67.30,2018-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42373,20425.0,8500.0,1849.998917,36.0,15.9,298.67,F,F4,4 years,RENT,...,5.0,0.00,2008-08-01,298.67,2019-06-01,0.0,0.0,1.0,0.0,N
42388,4400.0,4400.0,1200.000000,36.0,17.8,158.77,G,G5,9 years,MORTGAGE,...,0.0,0.00,2010-10-01,163.81,2018-12-01,0.0,0.0,1.0,0.0,N
42456,5700.0,5700.0,1450.000000,36.0,13.4,193.26,E,E1,5 years,RENT,...,0.0,0.00,2010-08-01,198.59,2019-06-01,0.0,0.0,1.0,0.0,N
42468,6000.0,6000.0,1025.000000,36.0,12.8,201.60,D,D4,8 years,RENT,...,0.0,0.00,2010-11-01,108.03,2011-05-01,0.0,0.0,1.0,0.0,N
42476,13000.0,13000.0,700.000000,36.0,10.9,425.04,C,C3,2 years,MORTGAGE,...,0.0,0.00,2010-08-01,426.53,2011-06-01,0.0,0.0,1.0,0.0,N

In [104]:
h.isnull().sum()

loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_length                 0
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
total_pymnt                0
total_pymnt_inv            0
total_rec_prncp            0
total_rec_int              0
total_rec_late_fee         0
recoveries                 0
collection_recovery_fee    0
last_pymnt_d               0
last_pymnt_amnt            0
last_credit_pull_d         0
acc_now_delinq             0
delinq_amnt                0
pub_rec_bankruptcies       0
tax_liens                  0
debt_settlement_flag       0
dtype: int64

In [105]:
j.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_length                 1112
home_ownership                0
annual_inc                    4
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                  29
earliest_cr_line             29
inq_last_6mths               29
open_acc                     29
pub_rec                      29
revol_bal                     0
revol_util                   90
total_acc                    29
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 83
last_pymnt_amnt               0
last_credit_pull_d            4
acc_now_delinq               29
delinq_amnt                  29
pub_rec_bankruptcies       1365
tax_liens                   105
debt_settlement_flag          0
dtype: int64

In [106]:
j['emp_length'].value_counts()

< 1 year     369
1 year       233
10+ years    210
2 years      175
3 years      129
4 years      106
5 years       79
6 years       68
7 years       46
8 years       43
9 years       35
Name: emp_length, dtype: int64

In [107]:
replace = {"< 1 year": 0.8,
           "1 year": 1,
          "10+ years": 10,
          "2 years": 2,
          "3 years": 3,
          "4 years": 5,
          "5 years": 5,
          "6 years": 6,
          "7 years": 7,
          "8 years": 8,
          "9 years": 9}
j['emp_length'] = j['emp_length'].replace(replace)

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [108]:
j['emp_length'].fillna(j['emp_length'].median(),inplace=True)

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [109]:
j['annual_inc'].fillna(j['annual_inc'].median(),inplace=True)

In [110]:
j['delinq_2yrs'].fillna(j['delinq_2yrs'].median(),inplace=True)

In [111]:
j['earliest_cr_line'] = pd.DatetimeIndex(j['earliest_cr_line']).year

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [112]:
j['earliest_cr_line'].fillna(j['earliest_cr_line'].median(),inplace=True)

In [113]:
j['inq_last_6mths'].fillna(j['inq_last_6mths'].median(),inplace=True)

In [114]:
j['open_acc'].fillna(j['open_acc'].median(),inplace=True)

In [115]:
j['pub_rec'].value_counts()

0.0    2386
1.0     180
2.0       7
3.0       2
5.0       1
Name: pub_rec, dtype: int64

In [116]:
j['pub_rec'].fillna(j['pub_rec'].median(),inplace=True)

In [117]:
j['revol_util'].fillna(j['revol_util'].median(),inplace=True)

In [118]:
j['total_acc'].fillna(j['total_acc'].median(),inplace=True)

In [119]:
j['last_pymnt_d_year'] = pd.DatetimeIndex(j['last_pymnt_d']).year  
j['last_pymnt_d_month'] = pd.DatetimeIndex(j['last_pymnt_d']).month 
j['last_credit_pull_d_year'] = pd.DatetimeIndex(j['last_credit_pull_d']).year  
j['last_credit_pull_d_month'] = pd.DatetimeIndex(j['last_credit_pull_d']).month

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [120]:
j.drop(['last_pymnt_d','last_credit_pull_d'],axis=1,inplace=True)

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [121]:
j.drop(['issue_d'],axis=1,inplace=True)

In [122]:
j.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'loan_status', 'purpose',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_amnt', 'acc_now_delinq',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens',
       'debt_settlement_flag', 'last_pymnt_d_year', 'last_pymnt_d_month',
       'last_credit_pull_d_year', 'last_credit_pull_d_month'],
      dtype='object')

In [123]:
j['last_credit_pull_d_year'].fillna(j['last_credit_pull_d_year'].median(),inplace=True)

In [124]:
j['last_credit_pull_d_month'].fillna(j['last_credit_pull_d_month'].median(),inplace=True)

In [125]:
j['last_pymnt_d_month'].fillna(j['last_pymnt_d_month'].median(),inplace=True)

In [126]:
j['last_pymnt_d_year'].fillna(j['last_pymnt_d_year'].median(),inplace=True)

In [127]:
j['acc_now_delinq'].fillna(j['acc_now_delinq'].median(),inplace=True)

In [128]:
j['delinq_amnt'].fillna(j['delinq_amnt'].median(),inplace=True)

In [129]:
j['pub_rec_bankruptcies'].fillna(j['pub_rec_bankruptcies'].median(),inplace=True)

In [130]:
j['tax_liens'].fillna(j['tax_liens'].median(),inplace=True)

In [131]:
j.isnull().sum()

loan_amnt                   0
funded_amnt                 0
funded_amnt_inv             0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_length                  0
home_ownership              0
annual_inc                  0
verification_status         0
loan_status                 0
purpose                     0
addr_state                  0
dti                         0
delinq_2yrs                 0
earliest_cr_line            0
inq_last_6mths              0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                  0
total_acc                   0
total_pymnt                 0
total_pymnt_inv             0
total_rec_prncp             0
total_rec_int               0
total_rec_late_fee          0
recoveries                  0
collection_recovery_fee     0
last_pymnt_amnt             0
acc_now_delinq              0
delinq_amnt                 0
pub_rec_bankruptcies        0
tax_liens                   0
debt_settlement_flag        0
last_pymnt_d_year           0
last_pymnt_d_month          0
last_credit_pull_d_year     0
last_credit_pull_d_month    0
dtype: int64

In [132]:
from sklearn.ensemble import RandomForestRegressor

In [133]:
ann_inc = j.drop(['annual_inc'],axis=1)
dec_2y = j.drop(['delinq_2yrs'],axis=1)
er_cr_line = j.drop(['earliest_cr_line'],axis=1)
in_last_6mnts = j.drop(['inq_last_6mths'],axis=1)
open_ac = j.drop(['open_acc'],axis=1)
pub_r = j.drop(['pub_rec'],axis=1)
rev_u = j.drop(['revol_util'],axis=1)
tot_ac = j.drop(['total_acc'],axis=1)
ac_n_decline = j.drop(['acc_now_delinq'],axis=1)
dec_amnt = j.drop(['delinq_amnt'],axis=1)
pub_r_bank = j.drop(['pub_rec_bankruptcies'],axis=1)
tax = j.drop(['tax_liens'],axis=1)
emp_len = j.drop(['emp_length'],axis=1)
last_credit_year = j.drop(['last_credit_pull_d_year'],axis=1)
last_credit_month = j.drop(['last_credit_pull_d_month'],axis=1)
last_pymnt_year = j.drop(['last_pymnt_d_year'],axis=1)
last_pymnt_month = j.drop(['last_pymnt_d_month'],axis=1)

In [134]:
y_ann_inc = j['annual_inc']
y_dec_2y = j['delinq_2yrs']
y_er_cr_line = j['earliest_cr_line']
y_in_last_6mnts = j['inq_last_6mths']
y_open_ac = j['open_acc']
y_pub_r = j['pub_rec']
y_rev_u = j['revol_util']
y_tot_ac = j['total_acc']
y_ac_n_decline = j['acc_now_delinq']
y_dec_amnt = j['delinq_amnt']
y_pub_r_bank = j['pub_rec_bankruptcies']
y_tax = j['tax_liens']
y_emp_len = j['emp_length']
y_last_credit_year = j['last_credit_pull_d_year']
y_last_credit_month = j['last_credit_pull_d_month']
y_last_pymnt_year = j['last_pymnt_d_year']
y_last_pymnt_month = j['last_pymnt_d_month']

In [135]:
j.select_dtypes(include='object').columns

Index(['grade', 'sub_grade', 'home_ownership', 'verification_status',
       'loan_status', 'purpose', 'addr_state', 'debt_settlement_flag'],
      dtype='object')

In [136]:
j.drop(['grade','addr_state'],axis=1,inplace=True)

In [137]:
from sklearn.preprocessing import LabelEncoder

In [138]:
le = LabelEncoder()

In [139]:
j.select_dtypes(include='object').columns

Index(['sub_grade', 'home_ownership', 'verification_status', 'loan_status',
       'purpose', 'debt_settlement_flag'],
      dtype='object')

In [140]:
j['sub_grade'] = le.fit_transform(j['sub_grade'])
j['home_ownership'] = le.fit_transform(j['home_ownership'])
j['verification_status'] = le.fit_transform(j['verification_status'])
j['loan_status'] = le.fit_transform(j['loan_status'])
j['purpose'] = le.fit_transform(j['purpose'])
j['debt_settlement_flag'] = le.fit_transform(j['debt_settlement_flag'])

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\SANTHOSH\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [141]:
j.to_csv('t.csv',index=False)

In [142]:
h.drop(['issue_d'],axis=1,inplace=True)

In [143]:
h

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag
0,5000.0,5000.0,4975.000000,36.0,10.6,162.87,B,B2,10+ years,RENT,...,0.0,0.00,2015-01-01,171.62,2019-05-01,0.0,0.0,0.0,0.0,N
1,2500.0,2500.0,2500.000000,60.0,15.2,59.83,C,C4,< 1 year,RENT,...,122.9,1.11,2013-04-01,119.66,2016-10-01,0.0,0.0,0.0,0.0,N
2,2400.0,2400.0,2400.000000,36.0,15.9,84.33,C,C5,10+ years,RENT,...,0.0,0.00,2014-06-01,649.91,2017-06-01,0.0,0.0,0.0,0.0,N
3,10000.0,10000.0,10000.000000,36.0,13.4,339.31,C,C1,10+ years,RENT,...,0.0,0.00,2015-01-01,357.48,2016-04-01,0.0,0.0,0.0,0.0,N
4,3000.0,3000.0,3000.000000,60.0,12.6,67.79,B,B5,1 year,RENT,...,0.0,0.00,2017-01-01,67.30,2018-04-01,0.0,0.0,0.0,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42373,20425.0,8500.0,1849.998917,36.0,15.9,298.67,F,F4,4 years,RENT,...,5.0,0.00,2008-08-01,298.67,2019-06-01,0.0,0.0,1.0,0.0,N
42388,4400.0,4400.0,1200.000000,36.0,17.8,158.77,G,G5,9 years,MORTGAGE,...,0.0,0.00,2010-10-01,163.81,2018-12-01,0.0,0.0,1.0,0.0,N
42456,5700.0,5700.0,1450.000000,36.0,13.4,193.26,E,E1,5 years,RENT,...,0.0,0.00,2010-08-01,198.59,2019-06-01,0.0,0.0,1.0,0.0,N
42468,6000.0,6000.0,1025.000000,36.0,12.8,201.60,D,D4,8 years,RENT,...,0.0,0.00,2010-11-01,108.03,2011-05-01,0.0,0.0,1.0,0.0,N
42476,13000.0,13000.0,700.000000,36.0,10.9,425.04,C,C3,2 years,MORTGAGE,...,0.0,0.00,2010-08-01,426.53,2011-06-01,0.0,0.0,1.0,0.0,N

In [144]:
h['sub_grade'] = le.fit_transform(h['sub_grade'])
h['home_ownership'] = le.fit_transform(h['home_ownership'])
h['verification_status'] = le.fit_transform(h['verification_status'])
h['loan_status'] = le.fit_transform(h['loan_status'])
h['purpose'] = le.fit_transform(h['purpose'])
h['debt_settlement_flag'] = le.fit_transform(h['debt_settlement_flag'])

In [145]:
h.drop(['grade','addr_state'],axis=1,inplace=True)

In [146]:
h['last_pymnt_d_year'] = pd.DatetimeIndex(h['last_pymnt_d']).year  
h['last_pymnt_d_month'] = pd.DatetimeIndex(h['last_pymnt_d']).month 
h['last_credit_pull_d_year'] = pd.DatetimeIndex(h['last_credit_pull_d']).year  
h['last_credit_pull_d_month'] = pd.DatetimeIndex(h['last_credit_pull_d']).month

In [147]:
h.drop(['last_pymnt_d','last_credit_pull_d'],axis=1,inplace=True)

In [148]:
h['emp_length'] = h['emp_length'].replace(replace)

In [149]:
h

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,...,last_pymnt_amnt,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies,tax_liens,debt_settlement_flag,last_pymnt_d_year,last_pymnt_d_month,last_credit_pull_d_year,last_credit_pull_d_month
0,5000.0,5000.0,4975.000000,36.0,10.6,162.87,6,10.0,3,24000.0,...,171.62,0.0,0.0,0.0,0.0,0,2015,1,2019,5
1,2500.0,2500.0,2500.000000,60.0,15.2,59.83,13,0.8,3,30000.0,...,119.66,0.0,0.0,0.0,0.0,0,2013,4,2016,10
2,2400.0,2400.0,2400.000000,36.0,15.9,84.33,14,10.0,3,12252.0,...,649.91,0.0,0.0,0.0,0.0,0,2014,6,2017,6
3,10000.0,10000.0,10000.000000,36.0,13.4,339.31,10,10.0,3,49200.0,...,357.48,0.0,0.0,0.0,0.0,0,2015,1,2016,4
4,3000.0,3000.0,3000.000000,60.0,12.6,67.79,9,1.0,3,80000.0,...,67.30,0.0,0.0,0.0,0.0,0,2017,1,2018,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42373,20425.0,8500.0,1849.998917,36.0,15.9,298.67,28,5.0,3,29000.0,...,298.67,0.0,0.0,1.0,0.0,0,2008,8,2019,6
42388,4400.0,4400.0,1200.000000,36.0,17.8,158.77,34,9.0,0,125000.0,...,163.81,0.0,0.0,1.0,0.0,0,2010,10,2018,12
42456,5700.0,5700.0,1450.000000,36.0,13.4,193.26,20,5.0,3,65000.0,...,198.59,0.0,0.0,1.0,0.0,0,2010,8,2019,6
42468,6000.0,6000.0,1025.000000,36.0,12.8,201.60,18,8.0,3,57000.0,...,108.03,0.0,0.0,1.0,0.0,0,2010,11,2011,5
42476,13000.0,13000.0,700.000000,36.0,10.9,425.04,12,2.0,0,62000.0,...,426.53,0.0,0.0,1.0,0.0,0,2010,8,2011,6

In [150]:
h.to_csv('trained.csv',index=False)

In [152]:
j = pd.read_csv('tested1.csv')

In [153]:
h = pd.read_csv('trained.csv')

In [154]:
ls = h.append(j)

In [155]:
ls.earliest_cr_line = 2019 - (ls.earliest_cr_line)

ls.last_pymnt_d_year = 2019 - (ls.last_pymnt_d_year)
ls.last_credit_pull_d_year = 2019 - (ls.last_credit_pull_d_year)

In [156]:
ls.to_csv('FinalDataset.csv',index=False)